@media (max-width: $screen-md-max) and (min-width: $screen-md-min){
  .header-navbar {
    &-left {
      height: 60px;

      a {
        padding: 9px 8px !important;
        line-height: 40px !important;
      }
    }

    // &-left-1 {
    //   li {
    //     margin-right: 0px !important;
    //   }
    // }

    &-left-sub {

      & > a {
        display: none !important;
      }

      a {
        padding: 0 !important;
        line-height: 20px !important;
      }
    }

    &-brand {
      .logo {
        top: 0;
      }

      .small-logo {
        left: 36px;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .header-navbar {

    .icon-nav {
      width: 15%;
      margin-right: 10px;
    }

    &-left {
      margin: 0;

      li {
        display: inline-table;
        position: relative;
      }

      a {
        color: $accent-color;
        font-weight: 600;
        font-size: 14px;
        padding: 10px;
        line-height: 50px;
        display: block;
      }

      li:hover .header-navbar-left-sub {
        animation: menu 0.8s ease-in-out forwards;
        pointer-events: all;
      }
    }

    &-left-1 {
      li {
        // margin-right: 10px !important;
      }

      .header-navbar-left-sub {
        li {
          margin-right: 0 !important;
        }
      }
    }

    &-left-sub {
      border-top: 1px solid $accent-color;
      border-bottom: 2px solid $accent-color;
      opacity: 0;
      min-width: 200px;
      max-height: 400px;
      background: $white-color;
      position: absolute;
      top: 100%;
      left: 0;
      transform-origin: top;
      z-index: 2;
      overflow: auto;
      pointer-events: none;

      &::-webkit-scrollbar-track {
        background: $border-color;
        border-radius: 5px;
      }

      &::-webkit-scrollbar {
        border-radius: 20px;
        background: $accent-color;
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background: $accent-color;
        border-radius: 5px;
      }

      @keyframes menu {
        0% {
          opacity: 0;
          transform: rotateX(-45deg);
        }
        100% {
          opacity: 1;
          transform: rotateX(0deg) translateY(-1px);
        }
      }

      li {
        border-bottom: 1px dotted #ccc;
        padding: 10px;
        width: 100%;
      }

      a {
        color: $text-color3;
        font-weight: normal !important;
        font-size: 13px;
        text-transform: none;
        padding: 0;
        margin-left: 10px;
        line-height: normal;
        transition: all .2s ease-in-out;
        @include hoverColor($accent-color);
      }
    }

  }
}

@media (max-width: 1200px) {
  .header-navbar {
    &-left-1 {
      li {
        margin-right: 0px !important;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .header-info {
    .col-xs-12 {
      text-align: center !important;
    }
  }

  .hamburger {
    padding: 12px 15px;
  }

  .home-carousel .lace {
    top: 12px
  }

  .home-carousel .lace-bottom {
    bottom: 12px !important;
  }

  .lace-shadow {
    display: none !important;
  }
}

@media (max-width: 620px) {
  .header-banner {
    background-size: auto;
  }
}

@media (max-width: 484px) {
  .header-banner {
    text-align: center;

    .header-banner-btn {
      float: none !important;
    }

    .header-banner-countdown {
      float: none !important;
      margin-top: 20px;

      #clock {
        width: 300px;
        margin: 0 auto !important;
      }
    }
  }

  .home-carousel {
    margin-top: 260px !important;
  }

  .lace {
    display: none !important;
  }

}

@media (max-width: $screen-sm-max ) {
  #menu {
    display: none !important;
  }
}
