.promotion-showcase {
  .post-list-content {
    margin-bottom: 20px;

    img {
      width: 100%;
    }

    .post-list-wrap {
      position: relative;
      margin-bottom: 5px;
    }

    .media-object {
      margin-bottom: 18px;
    }

    .media-heading {
      font-size: 16px;
      line-height: 26px;
      color: $text-color;
      margin-top: 15px;
      @include hoverColor($accent-color);
    }

    .home-showcase-date {
      color: $accent-color;
      @extend %font-weight;
    }

    .showcase-address {
      @include font('Roboto');
      color: $text-color2;
      @extend %font-weight;
    }
  }

}
