.service-showcase {
  .post-list-wrap {
    .breadcrumb-4 {
      a {
        font-size: 18px;
      }

      li.active a {
        font-size: 14px !important;
      }
    }

    .home-showcase-content {
      margin: 5px 0 5px;
      @include font('Roboto');
    }
  }

  .showcase-global {
    .home-showcase-content {
      margin: 12px 0 20px !important;
      @include font('Roboto');
    }
  }

  .post-list-content {
    .media-object {
      margin-bottom: 18px;
    }
  }

}
