// Mixin
@mixin font($font) {
  font-family: $font, sans-serif;
}

@mixin hoverColor ($color) {
  transition: all .2s ease-in-out;

  &:hover {
    color: $color;
  }
}

// Extends
%display-inline {
  display: inline-table;
}

%font-weight {
  font-weight: 600;
}
