$navbar-bg: #2d2d2d;
$accent-color: #ab132d;
$white-color: #ffffff;
$primary-color: #e55b71;
$footer-bg: #fdfdfd;
$copyright-bg: #f5f5f5;
$input-bg: #f3f3f3;

// Text Color
$text-color: #303030;
$text-color1: #d0d0d0;
$text-color2: #999999;
$text-color3: #555555;
$text-color4: #797071;
$text-color5: #bebebe;
$text-color6: #c9c9c9;
$text-color7: #434343;
$text-color8: #e1e1e1;
$text-color9: #777777;

// Button Color
$btn-bg: #363a3b;
$tag-bg: #f9f9f9;
$social-bg: #e5e5e5;

// Border Color
$border-color: #ebebeb;
$border-color1: #f4f4f4;
$border-color2: #fbfbfb;
