.account-promotion {
  &-form {
    input::-webkit-inner-spin-button {
      display: none;
    }

    input::-webkit-calendar-picker-indicator {
      opacity: 1;
      position: absolute;
      right: 10%;
    }
  }
}
