.pagination-wrap {
  .pagination {
    margin: 5px 0 0;

    li {
      &:first-child a:hover, &:last-child a:hover {
        background: none;
      }
    }

    a {
      color: $text-color;
      border: none;
      border-radius: 50%;
      margin: 0 5px;

      &:hover {
        background: #cdf5db;
      }
    }
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background: $accent-color;
  color: $white-color;
  padding: 6px 13px;
}
