:root {
  --red-700: #ab132d;
  --gray-700: #555555;
}

.btn--red,
.add_to_cart_button {
  background: var(--red-700) !important;
  color: #fff !important;
  padding: 10px 20px !important;
}

.onsale {
  background: var(--red-700) !important;
}

.home-gallery-carousel .item {
  position: relative;
}

.home-gallery-carousel .item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.object-fit {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-center {
  -o-object-position: center;
  object-position: center;
}

.comments-title {
  font-size: 20px;
  line-height: 28px;
}

.w-full { width: 100%; }

.checkbox {
  margin-bottom: 20px;
}

.checkbox span.wpcf7-list-item {
  margin: 0;
}

#service-detail-modal textarea {
  padding: 10px;
}

.nav-links .page-numbers {
  color: #333;
  margin-right: 10px;
  font-weight: 500;
  transition: color .2s ease-in-out;
}

.nav-links .current {
  color: var(--red-700);
}

.nav-links .page-numbers:hover {
  color: var(--red-700);
}

.logged-in-as a {
  color: #333;
  font-weight: 500;
}

.logged-in-as a:last-child {
  color: var(--red-700);
}

footer.entry-footer {
  color: #333;
  font-weight: 500;
}

footer.entry-footer {
  margin-bottom: 10px;
}

span.tags-links {
  display: block;
}

footer.entry-footer a {
  color: var(--red-700);
}

nav.navigation.post-navigation a {
  color: #333;
  font-weight: 500;
}

nav.navigation.post-navigation .nav-title {
  color: var(--red-700);
  font-weight: 700;
}

.navigation.post-navigation .nav-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.edit-link {
  display: block;
}

.promotion-detail .post-video-showcase-relate img {
  width: 100% !important;
}

.mt-0 {
  margin-top: 0 !important;
}

body .text-18 {
  font-size: 18px;
}

.price {
  font-size: 12px !important;
  color: #777 !important;
}

.price ins {
  text-decoration: none;
}

.price ins .woocommerce-Price-amount.amount {
  color: var(--red-700);
  font-size: 16px;
  margin-left: 5px
}

.mb-10 {
  margin-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

a.added_to_cart.wc-forward {
  color: var(--gray-700);
  font-weight: 600;
  margin-left: 15px;
}
