.home-gallery-carousel .item {
  position: relative;
}

.home-gallery-carousel .item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.object-fit {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-center {
  -o-object-position: center;
  object-position: center;
}

.comments-title {
  font-size: 20px;
  line-height: 28px;
}