.home-idea {
  .padding-off {
    padding: 0 !important;
  }

  .media-title {
    font-size: 10px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .media-heading {
    font-size: 14px !important;
    line-height: 24px !important;
  }
}
