.home-video {

  &-wrap {
    iframe {
      width: 100%;
      max-height: 280px;
    }
  }

  .home-showcase-date {
    font-size: 12px;
    line-height: 24px;
  }

  &-title {
    font-size: 18px;
    line-height: 28px;
  }

  .media {
    margin-bottom: 25px;
  }

  .media-heading {
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
    @extend %font-weight;
    transition: all .2s ease-in-out;

    &:hover {
      color: $accent-color;
    }
  }
}
