.account-main-content {
  border: 1px solid #eeeeee;

  &-header {
    h3 {
      margin: 0;
      padding: 30px 0;
      border-bottom: 5px solid #eeeeee;
    }
  }

  &-primary {
    padding: 50px;
    @include font('Roboto');

    .album-wrap {
      display: flex;
      align-items: center;
    }

    span.album {
      color: $text-color2;
      width: 30%;
      padding: 10px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    .form-group {
      margin-bottom: 20px;
    }

    input, textarea, .btn-default {
      border-radius: 0;
      box-shadow: none;
      padding: 20px 10px;
    }

    .btn-default {
      padding: 10px;
    }

    .bootstrap-select {
      height: auto;
    }
  }
}
