.left-side {
  width: 35%;
  float: left;
  height: 500px;
  background: $white-color;
}

.right-side {
  width: 100%;
  height: 500px;
  background: #f6f6f6;
}


.account-main {
  &-pic-primary {
    img {
      width: 100%;
    }
  }
}

// Account Sidebar
.account-sidebar {
  background: $white-color;
  position: relative;
  padding: 50px 0;
  border-right: 1px solid #d7d7d7;
  @include font('Roboto');

  &:before {
    display: block;
    background: $white-color;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 100%;
  }

  &-avatar {
    position: relative;
    padding-right: 30px;

    img {
      width: 100%;
    }
  }

  &-list {
    ul {
      li {
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
        padding: 12px 15px;

        &:hover {
          background: #f6f6f6;
          border-left: 4px solid $accent-color !important;

          a {
            color: $accent-color;
          }

          .icon-account path   {
            fill: $accent-color !important;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        color: $text-color;
      }
    }

    svg {
      width: 13%;
      margin-right: 10px;
    }
  }

  &-avatar-info {
    width: calc(100% - 30px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25%;
    background: rgba(black,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $white-color;
    }

    i {
      margin-right: 8px;
    }
  }
}

// Account Main Pic
.account-main-pic {
  margin-top: 30px;

  img {
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #eeeeee;
    padding: 25px 0 ;

    h3 {
      margin: 0;
    }
  }

  &-primary {
    padding: 50px;
  }

  .upload-btn {
    filter: grayscale(1);
    transition: all .1s ease-in-out;

    &:hover {
      filter: none;
    }
  }
}

// Account Bottom
.account-bottom {
  background: $white-color;
  padding: 10px 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;

  .btn-accent {
    margin-left: 30px;
    padding: 10px 30px;
  }
}
